.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 500px;
}

.showsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  row-gap: 20px;
  width: 100%;
}

.show {
  width: 100%;
  max-height: 100%;
}

.imageContainer {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.input {
  font-size: 20px;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}

.genres {
  flex-direction: row;
}

.heading4 {
  margin: 0;
}

.subHeading {
  margin: 0;
  font-size: 14px;
}
