@media screen and (max-width: 600px) {
  .layout5Grid {
    display: grid;
    margin: 5px;
    column-gap: 10px;
    grid-template-columns: repeat(3, auto);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.layout5Grid {
  display: grid;
  column-gap: 70px;
  grid-template-columns: repeat(3, auto);
}

.imageContainer {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.smallImageContainer {
  width: 80px;
  height: 120px;
}

.normalImageContainer {
  width: 120px;
  height: 160px;
}

.largeImageContainer {
  width: 160px;
  height: 200px;
}
