.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.layout5Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  row-gap: 20px;
  width: 100%;
}

.imageContainer {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.smallImageContainer {
  width: 80px;
  height: 100px;
}

.normalImageContainer {
  width: 120px;
  height: 140px;
}

.largeImageContainer {
  width: 160px;
  height: 180px;
}
