@media screen and (max-width: 600px) {
  .layout5Grid {
    display: grid;
    margin: 5px;
    column-gap: 10px;
    grid-template-columns: repeat(3, auto);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contentContainer {
  width: 500px;
}

.layout3Grid {
  display: grid;
  column-gap: 70px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.layout5Grid {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
